* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    transition: .2s linear;
}

:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #070F2B;
    --white-color: #fdfdfd;
    --blue-color: #535C91;
    --shadow-color: #EEEDEB;
    --grey-color: #B4B4B8;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--bg-color);
    border-radius: 5rem;
}

body {
    background: var(--bg-color);
}

section {
    padding: 2rem 7%;
}

/*header*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--blue-color);
    position: absolute; 
    top: 0; left: 0; right: 0;
    z-index: 1000; 
 }
 
 .header .logo{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 
 .header .logo img {
     width: 100%;
     max-width: 20rem;
     height: auto;
 }
 
 .header .logo h2 {
     margin: 0 1rem;
     font-size: 2.3rem;
     color: var(--white-color);
 }
 
 .header .navbar a{
     margin: 0 1rem;
     font-size: 1.6rem;
     color: var(--white-color);
 }
 
 .header .navbar a:hover {
     color: var(--blue-color);
     border-bottom: .1rem solid var(--blue-color);
     padding-bottom: .5rem;
 }
 
 .header #header-btn {
     margin-top: 1rem;
     display: inline-block;
     color: var(--white-color);
     background-color: var(--blue-color);
     padding: 1rem 1.5rem;
     border-radius: 5px;
     font-size: 1.5rem;
     margin-left: 2rem;
     cursor: pointer;
     transition: scale 0.2 ease; 
 }
 
 .header #header-btn:hover {
     scale: 1.05;
     color: var(--text-color);
     background-color: var(--bg-color);
 }
 
 #menu-btn {
     color: var(--white-color);
     cursor: pointer;
     font-size: 3rem;
     margin-right: 3rem;
     background-color: var(--blue-color);
     display: none;
     padding: 0.5rem 1.5rem;
 }

 /*about*/
.about {
    position: relative;
    background: #F3F8FF;

}

.about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30%; 
    background: url('/images/about.jpg') center/cover no-repeat; 
}

.about-titles {
    margin-top: 12rem;
    text-align: center;
    padding: 50px 0; 
    position: relative;
    z-index: 1;
}

.about-titles h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--white-color);
}

.about-titles h3 {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: .3;
    color: var(--white-color);
    margin-bottom: 3rem;
}

.about-titles p {
    font-size: 1.6rem;
    color: var(--white-color);
    text-align: center;
    margin-bottom: 6rem;
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    position: relative;
    margin-bottom: 10rem;
    margin-left: 15rem;
    margin-right: 15rem;
}

.about-content {
    flex: 1;
    padding: 3rem;
    background: var(--bg-color);
    align-items: center;
    box-shadow: 0 15px 15px -7px var(--grey-color);
    transition: .1s ease;
    width: 30rem; 
    height: 32rem;
}

.line {
    border: none; 
    border-top: 6px solid var(--blue-color);
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 20%;
}

.about-content h2 {
    font-size: 2.8rem;
    margin-bottom: 1.5rem; 
    color: var(--main-color);
}

.about-content p {
    font-size: 1.5rem;
    margin-bottom: 2rem; 
    color: var(--text-color);
}

.about-content ul {
    list-style-type: none;
    font-size: 1.5rem;
    margin-bottom: 2rem; 
    color: var(--text-color);
}

/*proceso de trabajo*/
.work-process-content {
    text-align: center;
    margin-top: 10rem;
    background-color: #F3F8FF;
    margin-bottom: 8rem;
}

.work-process-content h1 {
    margin-bottom: 2rem; 
    font-size: 3.8rem;
    color: var(--main-color);
}

.work-process-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 25rem;
    margin-right: 25rem;
}

.work-process-box {
    width: 35rem;
    height: 35rem;
    padding: 2rem;
    border: none;
    box-sizing: border-box;
    text-align: left;

}

.work-process-box h1 {
    font-size: 10rem; 
    color: #DDE6ED;
    margin: 0;
    margin-right: 1rem;
    padding: 0;
}

.work-process-box h3 {
    font-size: 2rem;
    margin-bottom: 1.8rem;
}

.work-process-box p {
    font-size: 1.6rem;
    color: var(--text-color);
    margin: 0;
}


/*¿Porqué escogernos?*/
.last-section {
    text-align: center;
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}

.two-column-section {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10rem;
}

.left-column {
    width: 50%;
    float: left;
}

.left-column img {
    width: 100%;
    height: auto;
    float: left;
}

.right-column {
    width: 50%;
    float: right;
}

.content-right {
    margin-top: 5rem;
    margin-right: 5rem;
    margin-left: 5rem;
    text-align: left;
}

.content-right h1 {
    margin-bottom: 2rem; 
    font-size: 3rem;
    color: var(--main-color);
} 

.content-right p {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 3rem;
}

/*accordion*/
.accordion {
    background-color: #F3F8FF;
    color: var(--text-color);
    cursor: pointer;
    padding: 2rem;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1.5rem;
  }

.accordion.active, .accordion:hover {
    background-color: var(--bg-color);
}

.active:after {
    content: "\2796"; 
}

  .panel {
    padding: 0 2rem;
    background-color: var(--bg-color);
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    border-bottom: 1px solid var(--shadow-color);
  }

  .accordion:after {
    content: '\02795'; 
    font-size: 1.5rem;
    color: var(--text-color);
    float: right;
    margin-left: 3rem;
  }
  
  .active:after {
    content: "\2796"; 
  }

/*cifras*/
.contador-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-around; 
    margin-bottom: 3rem; 
    padding: 0 2rem; 
}

.content {
    text-align: center; 
    margin-bottom: 2rem; 
    flex: 0 1 calc(33.33% - 4rem); 
    max-width: 300px; 
}

.h2-content {
    margin-bottom: 1rem; 
    font-size: 2.3rem;
    color: var(--main-color);
    margin-left: 3rem;
}

.p-content {
    margin-bottom: 1rem; 
    font-size: 1.6rem;
    color: var(--main-color);
    margin-left: 3rem;
}

.h2-content,
.p-content,
.number,
.content h3 {
    margin: 0; 
}

.number {
    font-size: 3rem;
    font-weight: 500;
    color: var(--blue-color);
}

.content h3 {
    font-size: 1.6rem;
    color: var(--main-color);
}

/*mas informacion*/
.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    padding: 2rem;
    border: none; 
    margin-top: 3rem;
    margin-bottom: 5rem;
    border-radius: 5px;
    box-shadow: 0 0 30px var(--shadow-color);
}

.text-content {
    text-align: center; 
    margin-bottom: 2rem;
}

.heading-info {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: var(--blue-color);
    text-align: center;
}

.info-p {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    color: var(--text-color);
    text-align: center; 
}

#info-btn {
    color: var(--white-color);
    background-color: var(--blue-color);
    padding: 1.5rem 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s ease; 
}

#info-btn:hover {
    transform: scale(1.05);
    color: var(--text-color);
    background-color: var(--bg-color);
    border: 1px solid var(--main-color);
}

/*footer*/
footer {
    align-items: center;
    justify-content:space-around;
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: 2rem;
    padding-top: 6rem;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 2rem;
    margin-right: 15rem;
}

.footer-section1,
.footer-section2 {
    width: 100%; 
    max-width: 40rem; 
    text-align: left;
}


.logo-social {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.footer-section1 img {
    width: 20rem;
    height: 17rem;
    margin-bottom: 3rem;
}

.footer-section1 p {
    margin-bottom: 5rem;
    font-size: 1.5rem;
}

.social-icons {
    display: flex;
    gap: 2rem;
}

.footer-section1 i {
    font-size: 2rem;
    color: #B4B4B8;
}

.footer-section2 {
    display: flex;
    flex-direction: row;
    gap: 6rem;  
}

.footer-information {
    text-align: left;
}   

.footer-information h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.footer-information ul {
    list-style: none;
    padding: 0;
}

.footer-information a {
    text-decoration: none;
    color: var(--white-color);
    margin-bottom: 1rem;
    font-size: 1.5rem;
    display: block;
    white-space: nowrap;
}

.footer-divider {
    width: 100%;
    border-top: 1px solid #B4B4B8;
    margin-top: 5rem;
    padding-top: 3rem;
    align-items: center;
}

#col {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--white-color);
}

.footer-bottom {
  width: 100%;
}

/*media queries*/
@media (max-width:1629px){

    .work-process-container {
        margin-left: 15rem;
        margin-right: 15rem;
    }

}

@media (max-width:1351px){

    html{
        font-size: 55%;
    }

    .header {
        padding: 1rem 8rem;
    }

    section {
        padding: 2rem;
    }

    .content-right {
        margin-top: 2rem;
    }
}

@media (max-width:1178px){

    html{
        font-size: 52%;
    }

    .header {
        padding: 1rem 5rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width:1058px){

    html{
        font-size: 50%;
    }

    .header {
        padding: 1rem 5rem;
    }

    section {
        padding: 2rem;
    }

    .about-container {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .work-process-container {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .two-column-section {
        flex-direction: column;
    }
    .left-column,
    .right-column {
        width: 100%; 
    }
    .left-column img {
        width: 100%; 
        float: none; 
    }
    .content-right {
        margin: 6rem; 
        text-align: center;
    }
}

@media (max-width:1023px){

    html{
        font-size: 55%;
    }

    .header {
        padding: 1rem 0.5rem;
    }

    section {
        padding: 2rem;
    }

    #menu-btn {
        display: inline-block;
        font-size: 3.5rem;
    }

    #menu-icon {
        font-size: 4rem;
    }

    .header .navbar {
        position: absolute;
        top: 66%; right: -100%;
        background: var(--bg-color);
        width: 83%;
        height: calc(100vh - 68rem);
        display: flex;
        flex-direction: column;
        align-items: left;
        transition: right 0.3s ease;
    }

    .header .navbar.active {
        right: 0;
        background: var(--bg-color);
    }

    .header .navbar a {
        color: var(--text-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        margin-left: 2%;
        border-bottom: 1px solid var(--text-color);
    }

    .header .navbar a:hover {
        color: var(--blue-color);
        border-bottom-color: var(--blue-color); 
    }

    .header #header-btn {
        color: var(--text-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        background-color: var(--bg-color);
        text-transform: lowercase;
        margin-left: 2%;
        border-bottom: none; 
    }

    .header #header-btn:first-letter {
        text-transform: uppercase;
    }

    .header #header-btn:hover {
        color: var(--blue-color);
    }

    .about-container {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .work-process-container {
        margin-left: 3rem;
        margin-right: 3rem;
    }
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header {
        padding: 1rem 0.5rem;
    }

    section {
        padding: 2rem;
    }

    #menu-btn {
        display: inline-block;
        font-size: 3rem;
    }

    #menu-icon {
        font-size: 3rem;
    }

    .header .navbar {
        position: absolute;
        top: 66%; right: -100%;
        background: var(--bg-color);
        width: 85%;
        height: calc(100vh - 68rem);
        display: flex;
        flex-direction: column;
        align-items: left;
        transition: right 0.3s ease;
    }

    .header .navbar.active {
        right: 0;
        background: var(--bg-color);
    }

    .header .logo img {
        width: 100%;
        max-width: 15rem;
        height: auto;
    }

    .header .navbar a {
        color: var(--text-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        margin-left: 2%;
        border-bottom: 1px solid var(--text-color);
    }

    .header .navbar a:hover {
        color: var(--blue-color);
        border-bottom-color: var(--blue-color); 
    }

    .header #header-btn {
        color: var(--text-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        background-color: var(--bg-color);
        text-transform: lowercase;
        margin-left: 2%;
        border-bottom: none; 
    }

    .header #header-btn:first-letter {
        text-transform: uppercase;
    }

    .header #header-btn:hover {
        color: var(--blue-color);
    }

    .about::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 30%; 
        background: url('/images/about.jpg') center/cover no-repeat; 
    }

    .about-container {
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .work-process-container {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

@media (max-width: 768px){

    #menu-btn {
        display: inline-block;
        font-size: 3rem;
    }

    #menu-icon {
        font-size: 3rem;
    }

    .header .navbar {
        position: absolute;
        top: 75%; right: -100%;
        background: var(--bg-color);
        width: 87%;
        height: calc(100vh - 68rem);
        display: flex;
        flex-direction: column;
        align-items: left;
        transition: right 0.3s ease;
    }

    .header .navbar.active {
        right: 0;
        background: var(--bg-color);
    }

    .header .logo img {
        width: 100%;
        max-width: 10rem;
        height: auto;
    }    

    .header .navbar a {
        color: var(--text-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        margin-left: 2%;
        border-bottom: 1px solid var(--text-color);
    }

    .header .navbar a:hover {
        color: var(--blue-color);
        border-bottom-color: var(--blue-color); 
    }

    .header #header-btn {
        color: var(--text-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        background-color: var(--bg-color);
        text-transform: lowercase;
        margin-left: 2%;
        border-bottom: none; 
    }

    .header #header-btn:first-letter {
        text-transform: uppercase;
    }

    .header #header-btn:hover {
        color: var(--blue-color);
    }

    .about::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 25%; 
        background: url('/images/about.jpg') center/cover no-repeat; 
    }

    .about-container {
        margin-left: 0;
        margin-right: 0;
    }

    .about-content h2 {
        font-size: 2.5rem;
        margin-bottom: 1.5rem; 
        color: var(--main-color);
    }
    
    .about-content p {
        font-size: 1.4rem;
        margin-bottom: 2rem; 
        color: var(--text-color);
    }
    
    .about-content ul {
        list-style-type: none;
        font-size: 1.4rem;
        margin-bottom: 2rem; 
        color: var(--text-color);
    }

    .work-process-container {
        margin-left: 0.1rem;
        margin-right: 0.1rem;
    }

    .two-column-section {
        flex-direction: column;
    }
    .left-column,
    .right-column {
        width: 100%; 
    }
    .left-column img {
        width: 100%; 
        float: none; 
    }
    .content-right {
        margin: 2rem; 
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .header {
        padding: 1rem 5%;
     }

    #menu-btn {
        display: inline-block;
        font-size: 2rem;
    }

    #menu-icon {
        font-size: 2rem;
    }

    .header .navbar {
        position: absolute;
        top: 70%; right: -100%;
        background: var(--bg-color);
        width: 100%;
        height: calc(100vh - 80rem);
        display: flex;
        flex-direction: column;
        align-items: left;
        transition: right 0.3s ease;
    }

    .header .navbar.active {
        right: 0;
        background: var(--bg-color);
    }

    .header .logo img {
        width: 100%;
        max-width: 10rem;
        margin-bottom: 2rem;
        height: auto;
    }    

    .header .navbar a {
        color: var(--text-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        margin-left: 2%;
        border-bottom: 1px solid var(--text-color);
    }

    .header .navbar a:hover {
        color: var(--blue-color);
        border-bottom-color: var(--blue-color); 
    }

    .header #header-btn {
        color: var(--text-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        background-color: var(--bg-color);
        text-transform: lowercase;
        margin-left: 2%;
        border-bottom: none; 
    }

    .header #header-btn:first-letter {
        text-transform: uppercase;
    }

    .header #header-btn:hover {
        color: var(--blue-color);
    }

    .about::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 16%; 
        background: url('/images/about.jpg') center/cover no-repeat; 
    }

    .about-container {
        margin-left: 0;
        margin-right: 0;
    }

    .about-content h2 {
        font-size: 2.6rem;
        margin-bottom: 1.5rem; 
        color: var(--main-color);
    }
    
    .about-content p {
        font-size: 1.5rem;
        margin-bottom: 2rem; 
        color: var(--text-color);
    }
    
    .about-content ul {
        list-style-type: none;
        font-size: 1.5rem;
        margin-bottom: 2rem; 
        color: var(--text-color);
    }

    .work-process-container {
        margin-left: 0;
        margin-right: 0;
    }

    .work-process-box {
        width: 50rem;
        height: 35rem;
    }

    .footer-section1 img {
        width: 20rem;
        height: 17rem;
        margin-bottom: 1rem;
    }
    
    .footer-section1 p {
        margin-bottom: 5rem;
        font-size: 1.5rem;
    }

    .footer-section1 i {
        font-size: 3rem;
        color: #B4B4B8;
    }
    
    .footer-section2 {
        display: flex;
        flex-direction: row;
        gap: 2rem;  
    }
    
    #col {
        display: flex;
        justify-content: center;
        font-size: 1.3rem;
        color: var(--white-color);
    }
}