* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    transition: .2s linear;
}

:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #070F2B;
    --white-color: #fdfdfd;
    --blue-color: #535C91;
    --shadow-color: #EEEDEB;
    --grey-color: #B4B4B8;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--bg-color);
    border-radius: 5rem;
}

body {
    background: var(--bg-color);
}

section {
    padding: 2rem 7%;
}

/*header*/
.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1.5rem 7%;
   border-bottom: var(--blue-color);
   position: absolute; 
   top: 0; left: 0; right: 0;
   z-index: 1000; 
}

.header .logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo img {
    width: 100%;
    max-width: 20rem;
    height: auto;
}

.header .logo h2 {
    margin: 0 1rem;
    font-size: 2.3rem;
    color: var(--white-color);
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--white-color);
}

.header .navbar a:hover {
    color: var(--blue-color);
    border-bottom: .1rem solid var(--blue-color);
    padding-bottom: .5rem;
}

.header #header-btn {
    margin-top: 1rem;
    display: inline-block;
    color: var(--white-color);
    background-color: var(--blue-color);
    padding: 1rem 1.5rem;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-left: 2rem;
    cursor: pointer;
    transition: scale 0.2 ease; 
}

.header #header-btn:hover {
    scale: 1.05;
    color: var(--text-color);
    background-color: var(--bg-color);
}

#menu-btn {
    color: var(--white-color);
    cursor: pointer;
    font-size: 3rem;
    margin-right: 3rem;
    background-color: var(--blue-color);
    display: none;
    padding: 0.5rem 1.5rem;
}

/*contact*/
.contact {
    position: relative;
    background: #F3F8FF;
}

.contact::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 33%; 
    background: url('/images/about.jpg') center/cover no-repeat; 
}

.contact-titles {
    margin-top: 12rem;
    text-align: center;
    padding: 50px 0; 
    position: relative;
    z-index: 1;
}

.contact-titles h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--white-color);
}

.contact-titles h3 {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: .3;
    color: var(--white-color);
    margin-bottom: 3rem;
}

.contact-titles p {
    font-size: 1.6rem;
    color: var(--white-color);
    text-align: center;
    margin-bottom: 6rem;

}

.column-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15rem;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 8rem;
    margin-top: 10rem;
    margin-left: 15rem;
}

.column-contact {
    flex: 1 1 30rem;
    box-sizing: border-box;
}

.form-map {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 6rem;
}

.column-contact h2 {
    margin-bottom: 5rem; 
    font-size: 3rem;
    color: var(--main-color);
} 

form {
    background-color: var(--bg-color);
    padding: 3rem;
    border-radius: 5px;
    box-shadow: 0 0 10px var(--grey-color);
    max-width: 400px;
    width: 400px;
    height: 450px;
}

input,
textarea {
    width: 100%;
    font-size: 1.5rem;
    padding: 1.5rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
    border: 1px solid var(--grey-color);
    border-radius: 4px;
    transition: border-color 0.3s ease; 
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus {
    border-color: var(--blue-color); 
}

input[type="submit"] {
    background-color: var(--blue-color);
    color: var(--white-color);
    cursor: pointer;
    margin-bottom: 1rem;
}

input[type="submit"]:hover {
    background-color: var(--main-color);
}

.column-contact iframe {
    width: 400px;
    height: 450px;
    border: 0;
    border-radius: 5px;
    object-fit: cover;
}

.column-contact h3 {
    margin-bottom: 2rem; 
    font-size: 1.8rem;
    color: var(--main-color);
}

.column-contact i {
    font-size: 2rem;
    color: var(--main-color);
    text-align: left;
}
 
.column-contact ul {
    list-style: none;
    padding: 0;
}

.column-contact a {
    text-decoration: none;
    color: var(--blue-color);
    margin-bottom: 2rem;
    font-size: 1.5rem;
    display: block;
    white-space: nowrap;
}

#contact-text{
    margin-top: 8rem;
    margin-bottom: 2rem; 
    font-size: 1.8rem;
    color: var(--main-color);
}

#contact-number {
    margin-bottom: 2rem; 
    font-size: 2.5rem;
    color: var(--main-color);
}

/*mas informacion*/
.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    padding: 2rem;
    border: none; 
    margin-top: 3rem;
    margin-bottom: 5rem;
    border-radius: 5px;
    box-shadow: 0 0 30px var(--shadow-color);
}

.text-content {
    text-align: center; 
    margin-bottom: 2rem;
}

.heading-info {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: var(--blue-color);
    text-align: center;
}

.info-p {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    color: var(--text-color);
    text-align: center; 
}

#info-btn {
    color: var(--white-color);
    background-color: var(--blue-color);
    padding: 1.5rem 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s ease; 
}

#info-btn:hover {
    transform: scale(1.05);
    color: var(--text-color);
    background-color: var(--bg-color);
    border: 1px solid var(--main-color);
}

/*footer*/
footer {
    align-items: center;
    justify-content:space-around;
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: 2rem;
    padding-top: 6rem;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 2rem;
    margin-right: 15rem;
}

.footer-section1,
.footer-section2 {
    width: 100%; 
    max-width: 40rem; 
    text-align: left;
}


.logo-social {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.footer-section1 img {
    width: 20rem;
    height: 17rem;
    margin-bottom: 3rem;
}

.footer-section1 p {
    margin-bottom: 5rem;
    font-size: 1.5rem;
}

.social-icons {
    display: flex;
    gap: 2rem;
}

.footer-section1 i {
    font-size: 2rem;
    color: #B4B4B8;
}

.footer-section2 {
    display: flex;
    flex-direction: row;
    gap: 6rem;  
}

.footer-information {
    text-align: left;
}   

.footer-information h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.footer-information ul {
    list-style: none;
    padding: 0;
}

.footer-information a {
    text-decoration: none;
    color: var(--white-color);
    margin-bottom: 1rem;
    font-size: 1.5rem;
    display: block;
    white-space: nowrap;
}

.footer-divider {
    width: 100%;
    border-top: 1px solid #B4B4B8;
    margin-top: 5rem;
    padding-top: 3rem;
    align-items: center;
}

#col {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--white-color);
}

.footer-bottom {
  width: 100%;
}

/*media queries*/
@media (max-width:1629px){

    .column-container {
        margin-left: 15rem;
    }

}

@media (max-width:1351px){

    html{
        font-size: 55%;
    }

    .header {
        padding: 1rem 8rem;
    }

    section {
        padding: 2rem;
    }

}

@media (max-width:1178px){

    html{
        font-size: 52%;
    }

    .header {
        padding: 1rem 5rem;
    }

    section {
        padding: 2rem;
    }

    .column-container {
        margin-left: 15rem;
    }

}

@media (max-width:1058px){

    html{
        font-size: 53%;
    }

    .header {
        padding: 1rem 1rem;
    }

    section {
        padding: 2rem;
    }

    .contact::before {
        width: 100%;
        height: 23%;  
    }

    .column-container {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-left: 8rem;
        margin-bottom: 0rem;
    }

    .form-map {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
        gap: 0;
        margin-left: 3%;
        margin-right: 18%;
    }

    .column-contact h2 {
        margin-left: 0;
    } 

    .column-contact ul {
        margin-left: 0;
        margin-right: 0;
    }
}

@media (max-width:1023px){

    html{
        font-size: 55%;
    }

    .header {
        padding: 1rem 0.5rem;
    }

    section {
        padding: 2rem;
    }

    #menu-btn {
        display: inline-block;
        font-size: 3.5rem;
    }

    #menu-icon {
        font-size: 4rem;
    }

    .header .navbar {
        position: absolute;
        top: 66%; right: -100%;
        background: var(--bg-color);
        width: 83%;
        height: calc(100vh - 68rem);
        display: flex;
        flex-direction: column;
        align-items: left;
        transition: right 0.3s ease;
    }

    .header .navbar.active {
        right: 0;
        background: var(--bg-color);
    }

    .header .navbar a {
        color: var(--text-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        margin-left: 2%;
        border-bottom: 1px solid var(--text-color);
    }

    .header .navbar a:hover {
        color: var(--blue-color);
        border-bottom-color: var(--blue-color); 
    }

    .header #header-btn {
        color: var(--text-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        background-color: var(--bg-color);
        text-transform: lowercase;
        margin-left: 2%;
        border-bottom: none; 
    }

    .header #header-btn:first-letter {
        text-transform: uppercase;
    }

    .header #header-btn:hover {
        color: var(--blue-color);
    }

    .contact::before {
        width: 100%;
        height: 23%;  
    }

    .column-container {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-left: 8rem;
        margin-bottom: 0rem;
    }

    .form-map {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
        gap: 0;
        margin-left: 3%;
        margin-right: 18%;
    }

    .column-contact h2 {
        margin-left: 3%;
    } 

    .column-contact ul {
        margin-left: 3%;
    }
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header {
        padding: 1rem 0.5rem;
    }

    section {
        padding: 2rem;
    }

    #menu-btn {
        display: inline-block;
        font-size: 3rem;
    }

    #menu-icon {
        font-size: 3rem;
    }

    .header .navbar {
        position: absolute;
        top: 66%; right: -100%;
        background: var(--bg-color);
        width: 85%;
        height: calc(100vh - 68rem);
        display: flex;
        flex-direction: column;
        align-items: left;
        transition: right 0.3s ease;
    }

    .header .navbar.active {
        right: 0;
        background: var(--bg-color);
    }

    .header .logo img {
        width: 100%;
        max-width: 15rem;
        height: auto;
    }

    .header .navbar a {
        color: var(--text-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        margin-left: 2%;
        border-bottom: 1px solid var(--text-color);
    }

    .header .navbar a:hover {
        color: var(--blue-color);
        border-bottom-color: var(--blue-color); 
    }

    .header #header-btn {
        color: var(--text-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        background-color: var(--bg-color);
        text-transform: lowercase;
        margin-left: 2%;
        border-bottom: none; 
    }

    .header #header-btn:first-letter {
        text-transform: uppercase;
    }

    .header #header-btn:hover {
        color: var(--blue-color);
    }

    .column-container {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-left: 8rem;
        margin-bottom: 0rem;
    }

    .form-map {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
        gap: 0;
        margin-left: 2%;
        margin-right: 15%;
    }

    .column-contact h2 {
        margin-left: 3%;
    } 

    .column-contact ul {
        margin-left: 3%;
    }

}

@media (max-width: 768px){

    #menu-btn {
        display: inline-block;
        font-size: 3rem;
    }

    #menu-icon {
        font-size: 3rem;
    }

    .header .navbar {
        position: absolute;
        top: 75%; right: -100%;
        background: var(--bg-color);
        width: 87%;
        height: calc(100vh - 68rem);
        display: flex;
        flex-direction: column;
        align-items: left;
        transition: right 0.3s ease;
    }

    .header .navbar.active {
        right: 0;
        background: var(--bg-color);
    }

    .header .logo img {
        width: 100%;
        max-width: 10rem;
        height: auto;
    }    

    .header .navbar a {
        color: var(--text-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        margin-left: 2%;
        border-bottom: 1px solid var(--text-color);
    }

    .header .navbar a:hover {
        color: var(--blue-color);
        border-bottom-color: var(--blue-color); 
    }

    .header #header-btn {
        color: var(--text-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        background-color: var(--bg-color);
        text-transform: lowercase;
        margin-left: 2%;
        border-bottom: none; 
    }

    .header #header-btn:first-letter {
        text-transform: uppercase;
    }

    .header #header-btn:hover {
        color: var(--blue-color);
    }

    .contact::before {
        width: 100%;
        height: 25%;  
    }

    .column-container {
        display: flex;
        flex-direction: column;
        align-items: left;
        margin-left: 1rem;
        margin-bottom: 0rem;
    }

    .form-map {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
        gap: 0;
        margin-left: 8%;
        margin-right: 10%;
    }

    .column-contact h2 {
        margin-left: 8%;
    } 

    .column-contact ul {
        margin-left: 8%;
    }

    form {
        width: 300px;
        height: 350px;
    }

    .column-contact iframe {
        width: 300px;
        height: 350px;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .header {
        padding: 1rem 5%;
     }

    #menu-btn {
        display: inline-block;
        font-size: 2rem;
    }

    #menu-icon {
        font-size: 2rem;
    }

    .header .navbar {
        position: absolute;
        top: 70%; right: -100%;
        background: var(--bg-color);
        width: 100%;
        height: calc(100vh - 80rem);
        display: flex;
        flex-direction: column;
        align-items: left;
        transition: right 0.3s ease;
    }

    .header .navbar.active {
        right: 0;
        background: var(--bg-color);
    }

    .header .logo img {
        width: 100%;
        max-width: 10rem;
        margin-bottom: 2rem;
        height: auto;
    }    

    .header .navbar a {
        color: var(--text-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        margin-left: 2%;
        border-bottom: 1px solid var(--text-color);
    }

    .header .navbar a:hover {
        color: var(--blue-color);
        border-bottom-color: var(--blue-color); 
    }

    .header #header-btn {
        color: var(--text-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        background-color: var(--bg-color);
        text-transform: lowercase;
        margin-left: 2%;
        border-bottom: none; 
    }

    .header #header-btn:first-letter {
        text-transform: uppercase;
    }

    .header #header-btn:hover {
        color: var(--blue-color);
    }

    .contact::before {
        width: 100%;
        height: 22%;  
    }
    
    .contact-titles h3 {
        font-size: 2.3rem;
        font-weight: 700;
        line-height: 1.3;
        color: var(--white-color);
        margin-bottom: 3rem;
    }

    .column-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 0;
        margin-bottom: 0.5rem;
    }

    .form-map {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 1rem;
        margin-bottom: 0.5rem;
    }

    .column-contact h2 {
        font-size: 2.3rem;
        margin-left: 1%;
        text-align: center;
    } 

    form {
        width: 350px;
        height: 300px;
    }

    .column-contact iframe {
        width: 350px;
        height: 400px;
    }

    .column-contact ul {
        text-align: center;
    }
    
    .footer-section1 img {
        width: 20rem;
        height: 17rem;
        margin-bottom: 1rem;
    }
    
    .footer-section1 p {
        margin-bottom: 5rem;
        font-size: 1.5rem;
    }

    .footer-section1 i {
        font-size: 3rem;
        color: #B4B4B8;
    }
    
    .footer-section2 {
        display: flex;
        flex-direction: row;
        gap: 2rem;  
    }
    
    #col {
        display: flex;
        justify-content: center;
        font-size: 1.3rem;
        color: var(--white-color);
    }
}
