* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    transition: .2s linear;
}

:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #070F2B;
    --white-color: #fdfdfd;
    --blue-color: #535C91;
    --shadow-color: #EEEDEB;
    --grey-color: #B4B4B8;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--bg-color);
    border-radius: 5rem;
}

body {
    background: var(--bg-color);
}

section {
    padding: 2rem 7%;
}

/*header*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 7%;
    border-bottom: var(--blue-color);
    position: absolute; 
    top: 0; left: 0; right: 0;
    background-color: var(--bg-color);
    z-index: 1000; 
 }
 
 .header .logo{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 
 .header .logo img {
     width: 100%;
     max-width: 20rem;
     height: auto;
 }
 
 .header .logo h2 {
     margin: 0 1rem;
     font-size: 2.3rem;
     color: var(--text-color);
 }
 
 .header .navbar a{
     margin: 0 1rem;
     font-size: 1.6rem;
     color: var(--text-color);
 }
 
 .header .navbar a:hover {
     color: var(--blue-color);
     border-bottom: .1rem solid var(--blue-color);
     padding-bottom: .5rem;
 }
 
 .header #header-btn {
     margin-top: 1rem;
     display: inline-block;
     color: var(--white-color);
     background-color: var(--blue-color);
     padding: 1rem 1.5rem;
     border-radius: 5px;
     font-size: 1.5rem;
     margin-left: 2rem;
     cursor: pointer;
     transition: scale 0.2 ease; 
 }
 
 .header #header-btn:hover {
     scale: 1.05;
     color: var(--text-color);
     background-color: var(--bg-color);
     border: .1rem solid var(--blue-color);
 }
 
 #menu-btn {
     color: var(--white-color);
     cursor: pointer;
     font-size: 3rem;
     margin-right: 3rem;
     background-color: var(--blue-color);
     display: none;
     padding: 0.5rem 1.5rem;
 }

 #google_translate_element {
    position: fixed;
    top: 0px; 
    right: 100px;
}

 /*products*/
 .products {
    position: relative;
    background: var(--bg-color);
}

.products::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 7%; 
    background: var(--main-color); 
}

.products-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 18rem;
}

.products-box {
    width: calc(33.33% - 20px);
    margin-bottom: 2rem;
    box-sizing: border-box;
    border: 1px solid var(--grey-color);
    padding: 1rem;
    text-align: center;
}

.products-box img {
    width: 10rem;
    max-width: 100%;
    height: auto;
}

.products-box h2 {
    font-size: 2.8rem;
    color: var(--main-color);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.products-box p {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}

 /*mas informacion*/
.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    padding: 2rem;
    border: none; 
    margin-top: 3rem;
    margin-bottom: 5rem;
    border-radius: 5px;
    box-shadow: 0 0 30px var(--shadow-color);
}

.text-content {
    text-align: center; 
    margin-bottom: 2rem;
}

.heading-info {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: var(--blue-color);
    text-align: center;
}

.info-p {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    color: var(--text-color);
    text-align: center; 
}

#info-btn {
    color: var(--white-color);
    background-color: var(--blue-color);
    padding: 1.5rem 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s ease; 
}

#info-btn:hover {
    transform: scale(1.05);
    color: var(--text-color);
    background-color: var(--bg-color);
    border: 1px solid var(--main-color);
}

/*footer*/
footer {
    align-items: center;
    justify-content:space-around;
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: 2rem;
    padding-top: 6rem;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 2rem;
    margin-right: 15rem;
}

.footer-section1,
.footer-section2 {
    width: 100%; 
    max-width: 40rem; 
    text-align: left;
}


.logo-social {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.footer-section1 img {
    width: 20rem;
    height: 17rem;
    margin-bottom: 3rem;
}

.footer-section1 p {
    margin-bottom: 5rem;
    font-size: 1.5rem;
}

.social-icons {
    display: flex;
    gap: 2rem;
}

.footer-section1 i {
    font-size: 2rem;
    color: #B4B4B8;
}

.footer-section2 {
    display: flex;
    flex-direction: row;
    gap: 6rem;  
}

.footer-information {
    text-align: left;
}   

.footer-information h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.footer-information ul {
    list-style: none;
    padding: 0;
}

.footer-information a {
    text-decoration: none;
    color: var(--white-color);
    margin-bottom: 1rem;
    font-size: 1.5rem;
    display: block;
    white-space: nowrap;
}

.footer-divider {
    width: 100%;
    border-top: 1px solid #B4B4B8;
    margin-top: 5rem;
    padding-top: 3rem;
    align-items: center;
}

#col {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--white-color);
}

.footer-bottom {
  width: 100%;
}

/*media queries*/
@media (max-width:1351px){

    html{
        font-size: 55%;
    }

    .header {
        padding: 1rem 8rem;
    }

    section {
        padding: 2rem;
    }

    .products::before {
        background: var(--bg-color); 
    }  
}


@media (max-width:1178px){

    html{
        font-size: 52%;
    }

    .header {
        padding: 1rem 5rem;
    }

    section {
        padding: 2rem;
    }

    .products::before {
        background: var(--bg-color); 
    }  
}

@media (max-width:1058px){

    html{
        font-size: 50%;
    }

    #google_translate_element {
        position: fixed;
        top: 0px; 
        right: 18px;
    }


    .header {
        padding: 1rem 5rem;
    }

    section {
        padding: 2rem;
    }

    .products::before {
        background: var(--bg-color); 
    }  
}

@media (max-width:1023px){

    html{
        font-size: 55%;
    }

    .header {
        padding: 1rem 0.5rem;
    }

    section {
        padding: 2rem;
    }

    #google_translate_element {
        position: absolute;
        top: 0px; 
        right: 150px;
    }

    #menu-btn {
        display: inline-block;
        font-size: 3.5rem;
    }

    #menu-icon {
        font-size: 4rem;
    }

    .header .navbar {
        position: absolute;
        top: 66%; right: -100%;
        background: var(--blue-color);
        width: 83%;
        height: calc(100vh - 68rem);
        display: flex;
        flex-direction: column;
        align-items: left;
        transition: right 0.3s ease;
    }

    .header .navbar.active {
        right: 0;
        background: var(--blue-color);
    }

    .header .navbar a {
        color: var(--white-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        margin-left: 2%;
        border-bottom: 1px solid var(--white-color);
    }

    .header #header-btn {
        color: var(--white-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        background-color: var(--blue-color);
        text-transform: lowercase;
        margin-left: 2%;
        border-bottom: none; 
    }

    .header #header-btn:first-letter {
        text-transform: uppercase;
    }

    .header #header-btn:hover {
        color: var(--blue-color);
    }

    .products::before {
        background: var(--bg-color); 
    }  
}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header {
        padding: 1rem 0.5rem;
    }

    section {
        padding: 2rem;
    }

    #google_translate_element {
        position: absolute;
        top: 0px; 
        right: 150px;
    }

    #menu-btn {
        display: inline-block;
        font-size: 3.5rem;
    }

    #menu-icon {
        font-size: 4rem;
    }

    .header .navbar {
        position: absolute;
        top: 66%; right: -100%;
        background: var(--blue-color);
        width: 83%;
        height: calc(100vh - 68rem);
        display: flex;
        flex-direction: column;
        align-items: left;
        transition: right 0.3s ease;
    }

    .header .navbar.active {
        right: 0;
        background: var(--blue-color);
    }

    .header .navbar a {
        color: var(--white-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        margin-left: 2%;
        border-bottom: 1px solid var(--shadow-color);
    }

    .header #header-btn {
        color: var(--white-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        background-color: var(--blue-color);
        text-transform: lowercase;
        margin-left: 2%;
        border-bottom: none; 
    }

    .header #header-btn:first-letter {
        text-transform: uppercase;
    }

    .header #header-btn:hover {
        color: var(--blue-color);
    }

    .products::before {
        background: var(--bg-color); 
    }  
}

@media (max-width: 768px){

    #google_translate_element {
        position: absolute;
        top: 0px; 
        right: 150px;
    }

    #menu-btn {
        display: inline-block;
        font-size: 3rem;
    }

    #menu-icon {
        font-size: 3rem;
    }

    .header .navbar {
        position: absolute;
        top: 75%; right: -100%;
        background: var(--blue-color);
        width: 87%;
        height: calc(100vh - 68rem);
        display: flex;
        flex-direction: column;
        align-items: left;
        transition: right 0.3s ease;
    }

    .header .navbar.active {
        right: 0;
        background: var(--blue-color);
    }

    .header .logo img {
        width: 100%;
        max-width: 10rem;
        height: auto;
    }    

    .header .navbar a {
        color: var(--white-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        margin-left: 2%;
        border-bottom: 1px solid var(--shadow-color);
    }

    .header .navbar a:hover {
        color: var(--white-color);
        border-bottom-color: var(--blue-color); 
    }

    .header #header-btn {
        color: var(--white-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        background-color: var(--blue-color);
        text-transform: lowercase;
        margin-left: 2%;
        border-bottom: none; 
    }

    .header #header-btn:first-letter {
        text-transform: uppercase;
    }

    .products::before {
        background: var(--bg-color); 
    }  

    .products-box {
        width: calc(100% - 20px);
    }

    .products-content {
        margin-top: 10rem;
    }

    .products::before {
        width: 100%;
        height: 2.5%; 
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    .header {
        padding: 1rem 5%;
     }

     #google_translate_element {
        position: fixed;
        top: 0; 
        right: 15rem;
    }

    #menu-btn {
        display: inline-block;
        font-size: 2rem;
    }

    #menu-icon {
        font-size: 2rem;
    }

    .header .navbar {
        position: absolute;
        top: 70%; right: -100%;
        background: var(--bg-color);
        width: 100%;
        height: calc(100vh - 80rem);
        display: flex;
        flex-direction: column;
        align-items: left;
        transition: right 0.3s ease;
        border: 1px solid var(--blue-color);
    }

    .header .navbar.active {
        right: 0;
        background: var(--blue-color);
    }

    .header .logo img {
        width: 100%;
        max-width: 10rem;
        margin-bottom: 2rem;
        height: auto;
    }   
    
    .header .logo h2 {
        color: var(--text-color);
    }

    .header .navbar a {
        color: var(--white-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        margin-left: 2%;
        border-bottom: 1px solid var(--shadow-color);
    }

    .header #header-btn {
        color: var(--white-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        background-color: var(--blue-color);
        text-transform: lowercase;
        margin-left: 2%;
        border-bottom: none; 
    }

    .header #header-btn:first-letter {
        text-transform: uppercase;
    }

    .products::before {
        background: var(--bg-color); 
    }    

    .products-content {
        margin-top: 12rem;
    }

    .products::before {
        width: 100%;
        height: 2%; 

    }

    .products-box {
        width: calc(100% - 5px);
    }

    .footer-section1 img {
        width: 20rem;
        height: 17rem;
        margin-bottom: 1rem;
    }
    
    .footer-section1 p {
        margin-bottom: 5rem;
        font-size: 1.5rem;
    }

    .footer-section1 i {
        font-size: 3rem;
        color: #B4B4B8;
    }
    
    .footer-section2 {
        display: flex;
        flex-direction: row;
        gap: 2rem;  
    }
    
    #col {
        display: flex;
        justify-content: center;
        font-size: 1.3rem;
        color: var(--white-color);
    }
}

@media (max-width:412px){

    .header .navbar {
        position: absolute;
        top: 70%; right: -100%;
        background: var(--bg-color);
        width: 100%;
        height: calc(100vh - 87rem);
        display: flex;
        flex-direction: column;
        align-items: left;
        transition: right 0.3s ease;
    }

    #google_translate_element {
        position: fixed;
        top: 0; 
        right: 13rem;
    }
    
    .footer-section2 {
        display: flex;
        flex-direction: column;
        gap: 2rem;  
    }
    
    #col {
        display: flex;
        justify-content: center;
        font-size: 1.1rem;
        color: var(--white-color);
    }
    
}

@media (max-width:360px){

    #google_translate_element {
        display: none;
   }

   .header .navbar {
       position: absolute;
       top: 78%; right: -100%;
       background: var(--bg-color);
       width: 100%;
       height: calc(100vh - 65rem);
       display: flex;
       flex-direction: column;
       align-items: left;
       transition: right 0.3s ease;
   }
 
   .footer-section2 {
       display: flex;
       flex-direction: column;
       gap: 2rem;  
   }
   
}