* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    transition: .2s linear;
}

:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #070F2B;
    --white-color: #fdfdfd;
    --blue-color: #535C91;
    --shadow-color: #EEEDEB;
    --grey-color: #B4B4B8;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--bg-color);
    border-radius: 5rem;
}

body {
    background: var(--bg-color);
}

section {
    padding: 2rem 7%;
}

/*header*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 7%;
    border-bottom: var(--blue-color);
    position: absolute; 
    top: 0; left: 0; right: 0;
    z-index: 1000; 
 }
 
 .header .logo{
     display: flex;
     align-items: center;
     justify-content: space-between;
 }
 
 .header .logo img {
     width: 100%;
     max-width: 20rem;
     height: auto;
 }
 
 .header .logo h2 {
     margin: 0 1rem;
     font-size: 2.3rem;
     color: var(--white-color);
 }
 
 .header .navbar a{
     margin: 0 1rem;
     font-size: 1.6rem;
     color: var(--white-color);
 }
 
 .header .navbar a:hover {
     color: var(--blue-color);
     border-bottom: .1rem solid var(--blue-color);
     padding-bottom: .5rem;
 }
 
 .header #header-btn {
     margin-top: 1rem;
     display: inline-block;
     color: var(--white-color);
     background-color: var(--blue-color);
     padding: 1rem 1.5rem;
     border-radius: 5px;
     font-size: 1.5rem;
     margin-left: 2rem;
     cursor: pointer;
     transition: scale 0.2 ease; 
 }
 
 .header #header-btn:hover {
     scale: 1.05;
     color: var(--text-color);
     background-color: var(--bg-color);
 }
 
 #menu-btn {
     color: var(--white-color);
     cursor: pointer;
     font-size: 3rem;
     margin-right: 3rem;
     background-color: var(--blue-color);
     display: none;
     padding: 0.5rem 1.5rem;
 }
