* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    transition: .2s linear;
}

:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #070F2B;
    --white-color: #fdfdfd;
    --blue-color: #535C91;
    --shadow-color: #EEEDEB;
    --grey-color: #B4B4B8;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

html::-webkit-scrollbar {
    width: .8rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--bg-color);
    border-radius: 5rem;
}

body {
    background: var(--bg-color);
}

section {
    padding: 2rem 7%;
}

/*header*/
.header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 1.5rem 7%;
   border-bottom: var(--blue-color);
   position: absolute; 
   top: 0; left: 0; right: 0;
   z-index: 1000; 
}

.header .logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .logo img {
    width: 100%;
    max-width: 18rem;
    height: auto;
}

.header .logo h2 {
    margin: 0 1rem;
    font-size: 2.3rem;
    color: var(--white-color);
}

.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: var(--white-color);
}

.header .navbar a:hover {
    color: var(--blue-color);
    border-bottom: .1rem solid var(--blue-color);
    padding-bottom: .5rem;
}

.header #header-btn {
    margin-top: 1rem;
    display: inline-block;
    color: var(--white-color);
    background-color: var(--blue-color);
    padding: 1rem 1.5rem;
    border-radius: 5px;
    font-size: 1.5rem;
    margin-left: 2rem;
    cursor: pointer;
    transition: scale 0.2 ease; 
}

.header #header-btn:hover {
    scale: 1.05;
    color: var(--text-color);
    background-color: var(--bg-color);
}

#menu-btn {
    color: var(--white-color);
    cursor: pointer;
    font-size: 3rem;
    margin-right: 3rem;
    background-color: var(--blue-color);
    display: none;
    padding: 0.5rem 1.5rem;
}

/*seccion de inicio*/
.home {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(./images/home.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.home .home-content {
    max-width: 60rem;
    margin-left: 15rem;
}

.home .home-content h3 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: #B9B4C7;
}

.home .home-content h1 {
    font-size: 4.5rem;
    margin-bottom: 1rem;
    color: var(--white-color);
}

.home .home-content p {
    font-size: 1.6rem;
    color: var(--white-color);
    line-height: 1.8;
    padding: 1rem 0;
    margin-bottom: 5rem;
}

.home .home-content #btn-home {
    display: inline-block;
    color: var(--white-color);
    background-color: var(--blue-color);
    padding: 1.5rem 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: scale 0.2 ease; 
}

.home .home-content #btn-home:hover {
    scale: 1.05;
    color: var(--text-color);
    background-color: var(--bg-color);
}

/*seccion de servicios*/
.services{
    background-color: #F3F8FF;
    padding-bottom: 8rem;
    padding-top: 8rem;
}

.heading {
    margin-bottom: 3rem;
    font-size: 3.8rem;
    color: var(--main-color);
    text-align: center;
}

.info {
    margin-bottom: 5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    text-align: center;
}

.services .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 2rem;
    margin-left: 25rem;
    margin-right: 25rem;
}


.services .box-container .box{
    padding: 3.5rem;
    text-align: left;
    border: var(--blue-color);
    background: var(--bg-color);
    align-items: center;
}

.services .box-container .box i {
    font-size: 5rem;
    color: var(--blue-color);
}

.services .box-container .box h3 {
    font-size: 2rem;
    padding: 1rem 0;
    color: var(--main-color);
}

.services .box-container .box p {
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 1rem 0;
}

.services .box-container .box:hover {
    transform: scale(1.02);
}

/*seccion de portafolio*/
.portfolio {
    text-align: center;
    margin-top: 5rem; 
}

.portfolio .portfolio-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
    gap: 1rem;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
}

.portfolio .portfolio-container .portfolio-box {
    align-items: center;
    text-align: center; 
}

.portfolio .portfolio-container .portfolio-box img{
    width: 30rem; 
    height: 30rem; 
    object-fit: cover;
    margin-bottom: 2rem; 
}

.btn-portfolio-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.btn-portfolio{
    color: var(--white-color);
    background-color: var(--blue-color);
    padding: 1.5rem 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    align-items: center;
    transition: transform 0.2s ease; 
}

.btn-portfolio:hover {
    transform: scale(1.05);
    color: var(--text-color);
    background-color: var(--bg-color);
    border: 1px solid var(--main-color);
}

/*clientes*/

.portfolio .customers-container {
    align-items: center;
    padding-bottom: 1rem;
    padding-top: 6rem;
}

.customers-container .logos-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
    gap: 1rem;
    justify-content: center;
    margin-left: 15%;
    margin-right: 15%;
}
  
.customers-container .logos-container .customers-logo {
    padding: 1rem;
    text-align: center;
    border-top: 1px solid var(--shadow-color);
    border-right: 1px solid var(--shadow-color);
}
  
.customers-container .logos-container .customers-logo img {
    width: 100%;
    height: auto;
}

.customers-container .logos-container .customers-logo:last-child {
    border-right: none; 
}

/*equipo*/
.portfolio .team-container {
    text-align: center;
    margin-top: 5rem; 
}

.team-container .team-boxes {
    display: flex;
    justify-content: space-around; 
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-right: 5%;
     
}

.team-container .team-boxes .team-box {
    align-items: center;
    text-align: center; 
}

.team-container .team-boxes .team-box img {
    width: 30rem; 
    height: 30rem; 
    object-fit: cover;
    margin-bottom: 2rem; 
}

.team-container .team-boxes .team-box h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem; 
    color: var(--main-color);
}

.team-container .team-boxes .team-box p {
    font-size: 1.6rem;
    color: var(--text-color);
}

/*mas informacion*/
.info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    padding: 2rem;
    border: none; 
    margin-top: 3rem;
    margin-bottom: 5rem;
    border-radius: 5px;
    box-shadow: 0 0 30px var(--shadow-color);
}

.text-content {
    text-align: center; 
    margin-bottom: 2rem;
}

.heading-info {
    margin-bottom: 1rem;
    font-size: 2.5rem;
    color: var(--blue-color);
    text-align: center;
}

.info-p {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    color: var(--text-color);
    text-align: center; 
}

#info-btn {
    color: var(--white-color);
    background-color: var(--blue-color);
    padding: 1.5rem 2rem;
    border-radius: 5px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: transform 0.2s ease; 
}

#info-btn:hover {
    transform: scale(1.05);
    color: var(--text-color);
    background-color: var(--bg-color);
    border: 1px solid var(--main-color);
}

/*footer*/
footer {
    align-items: center;
    justify-content:space-around;
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: 2rem;
    padding-top: 6rem;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 2rem;
    margin-right: 15rem;
}

.footer-section1,
.footer-section2 {
    width: 100%; 
    max-width: 40rem; 
    text-align: left;
}


.logo-social {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.footer-section1 img {
    width: 20rem;
    height: 17rem;
    margin-bottom: 3rem;
}

.footer-section1 p {
    margin-bottom: 5rem;
    font-size: 1.5rem;
}

.social-icons {
    display: flex;
    gap: 2rem;
}

.footer-section1 i {
    font-size: 2rem;
    color: #B4B4B8;
}

.footer-section2 {
    display: flex;
    flex-direction: row;
    gap: 6rem;  
}

.footer-information {
    text-align: left;
}   

.footer-information h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.footer-information ul {
    list-style: none;
    padding: 0;
}

.footer-information a {
    text-decoration: none;
    color: var(--white-color);
    margin-bottom: 1rem;
    font-size: 1.5rem;
    display: block;
    white-space: nowrap;
}

.footer-divider {
    width: 100%;
    border-top: 1px solid #B4B4B8;
    margin-top: 5rem;
    padding-top: 3rem;
    align-items: center;
}

#col {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    color: var(--white-color);
}

.footer-bottom {
  width: 100%;
}

/*media queries*/
@media (max-width:1351px){

    html{
        font-size: 55%;
    }

    .header {
        padding: 1rem 8rem;
    }

    section {
        padding: 2rem;
    }

    .services .box-container {
        margin-left: 15rem;
        margin-right: 15rem;
    }

    .portfolio .portfolio-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
        gap: 1rem;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .portfolio .portfolio-container .portfolio-box img{
        width: 30rem; 
        height: 30rem; 
        object-fit: cover;
        margin-bottom: 2rem; 
    }

    .customers-container .logos-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
        gap: 1rem;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
    }
    
}

@media (max-width:1178px){

    html{
        font-size: 52%;
    }

    .header {
        padding: 1rem 5rem;
    }

    section {
        padding: 2rem;
    }

    .services .box-container {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .portfolio .portfolio-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
        gap: 1rem;
        justify-content: center;
        margin-left: 25%;
        margin-right: 25%;
    }
    
    .portfolio .portfolio-container .portfolio-box img{
        width: 30rem; 
        height: 30rem; 
        object-fit: cover;
        margin-bottom: 2rem; 
    }

    .customers-container .logos-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
        gap: 1rem;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width:1058px){

    html{
        font-size: 50%;
    }

    .header {
        padding: 1rem 5rem;
    }

    section {
        padding: 2rem;
    }

    .services .box-container {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .portfolio .portfolio-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
        gap: 1rem;
        justify-content: center;
        margin-left: 18%;
        margin-right: 18%;
    }
    
    .portfolio .portfolio-container .portfolio-box img{
        width: 30rem; 
        height: 30rem; 
        object-fit: cover;
        margin-bottom: 2rem; 
    }

    .portfolio .portfolio-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
        gap: 1rem;
        justify-content: center;
        margin-left: 25%;
        margin-right: 25%;
    }
    
    .portfolio .portfolio-container .portfolio-box img{
        width: 30rem; 
        height: 30rem; 
        object-fit: cover;
        margin-bottom: 2rem; 
    }

    .customers-container .logos-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
        gap: 1rem;
        justify-content: center;
        margin-left: 20%;
        margin-right: 20%;
    }

    .customers-container .logos-container .customers-logo {
        border-top: 1px solid var(--shadow-color);
        border-right: none;
    }

}

@media (max-width:1023px){

    html{
        font-size: 55%;
    }

    .header {
        padding: 1rem 0.5rem;
    }

    section {
        padding: 2rem;
    }

    #menu-btn {
        display: inline-block;
        font-size: 3.5rem;
    }

    #menu-icon {
        font-size: 4rem;
    }

    .header .navbar {
        position: absolute;
        top: 66%; right: -100%;
        background: var(--bg-color);
        width: 83%;
        height: calc(100vh - 68rem);
        display: flex;
        flex-direction: column;
        align-items: left;
        transition: right 0.3s ease;
    }

    .header .navbar.active {
        right: 0;
        background: var(--bg-color);
    }

    .header .navbar a {
        color: var(--text-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        margin-left: 2%;
        border-bottom: 1px solid var(--text-color);
    }

    .header .navbar a:hover {
        color: var(--blue-color);
        border-bottom-color: var(--blue-color); 
    }

    .header #header-btn {
        color: var(--text-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        background-color: var(--bg-color);
        text-transform: lowercase;
        margin-left: 2%;
        border-bottom: none; 
    }

    .header #header-btn:first-letter {
        text-transform: uppercase;
    }

    .header #header-btn:hover {
        color: var(--blue-color);
    }


    .home {
        min-height: 70vh;
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .home .home-content {
        margin-left: 0;
    }

    .services .box-container {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .portfolio .portfolio-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
        gap: 1rem;
        justify-content: center;
        margin-left: 18%;
        margin-right: 18%;
    }
    
    .portfolio .portfolio-container .portfolio-box img{
        width: 30rem; 
        height: 30rem; 
        object-fit: cover;
        margin-bottom: 2rem; 
    }

    .customers-container .logos-container .customers-logo {
        border-top: 1px solid var(--shadow-color);
        border-right: none;
    }

}

@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header {
        padding: 1rem 0.5rem;
    }

    section {
        padding: 2rem;
    }

    #menu-btn {
        display: inline-block;
        font-size: 3rem;
    }

    #menu-icon {
        font-size: 3rem;
    }

    .header .navbar {
        position: absolute;
        top: 66%; right: -100%;
        background: var(--bg-color);
        width: 85%;
        height: calc(100vh - 68rem);
        display: flex;
        flex-direction: column;
        align-items: left;
        transition: right 0.3s ease;
    }

    .header .navbar.active {
        right: 0;
        background: var(--bg-color);
    }

    .header .logo img {
        width: 100%;
        max-width: 15rem;
        height: auto;
    }

    .header .navbar a {
        color: var(--text-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        margin-left: 2%;
        border-bottom: 1px solid var(--text-color);
    }

    .header .navbar a:hover {
        color: var(--blue-color);
        border-bottom-color: var(--blue-color); 
    }

    .header #header-btn {
        color: var(--text-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        background-color: var(--bg-color);
        text-transform: lowercase;
        margin-left: 2%;
        border-bottom: none; 
    }

    .header #header-btn:first-letter {
        text-transform: uppercase;
    }

    .header #header-btn:hover {
        color: var(--blue-color);
    }

    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .portfolio .portfolio-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
        gap: 1rem;
        justify-content: center;
        margin-left: 15%;
        margin-right: 15%;
    }
    
    .portfolio .portfolio-container .portfolio-box img{
        width: 30rem; 
        height: 30rem; 
        object-fit: cover;
        margin-bottom: 2rem; 
    }

    .customers-container .logos-container .customers-logo {
        border-top: 1px solid var(--shadow-color);
        border-right: none;
    }

}

@media (max-width: 768px){

    #menu-btn {
        display: inline-block;
        font-size: 3rem;
    }

    #menu-icon {
        font-size: 3rem;
    }

    .header .navbar {
        position: absolute;
        top: 75%; right: -100%;
        background: var(--bg-color);
        width: 87%;
        height: calc(100vh - 68rem);
        display: flex;
        flex-direction: column;
        align-items: left;
        transition: right 0.3s ease;
    }

    .header .navbar.active {
        right: 0;
        background: var(--bg-color);
    }

    .header .logo img {
        width: 100%;
        max-width: 10rem;
        height: auto;
    }    

    .header .navbar a {
        color: var(--text-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        margin-left: 2%;
        border-bottom: 1px solid var(--text-color);
    }

    .header .navbar a:hover {
        color: var(--blue-color);
        border-bottom-color: var(--blue-color); 
    }

    .header #header-btn {
        color: var(--text-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        background-color: var(--bg-color);
        text-transform: lowercase;
        margin-left: 2%;
        border-bottom: none; 
    }

    .header #header-btn:first-letter {
        text-transform: uppercase;
    }

    .header #header-btn:hover {
        color: var(--blue-color);
    }

    .home {
        background-position: left;
        justify-content: center;
        text-align: center;
    }

    .services .box-container {
        margin-left: 2rem;
        margin-right: 2rem;
    }

    .portfolio .portfolio-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
        gap: 1rem;
        justify-content: center;
        margin-left: 10%;
        margin-right: 10%;
    }
    
    .portfolio .portfolio-container .portfolio-box img{
        width: 25rem; 
        height: 25rem; 
        object-fit: cover;
        margin-bottom: 2rem; 
    }

    .customers-container .logos-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 2fr));
        gap: 1rem;
        justify-content: center;
        margin-left: 5%;
        margin-right: 5%;
    }

    .customers-container .logos-container .customers-logo {
        border-top: 1px solid var(--shadow-color);
        border-right: none;
    }
}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

    #menu-btn {
        display: inline-block;
        font-size: 2rem;
    }

    #menu-icon {
        font-size: 2rem;
    }

    .header .navbar {
        position: absolute;
        top: 70%; right: -100%;
        background: var(--bg-color);
        width: 100%;
        height: calc(100vh - 80rem);
        display: flex;
        flex-direction: column;
        align-items: left;
        transition: right 0.3s ease;
    }

    .header .navbar.active {
        right: 0;
        background: var(--bg-color);
    }

    .header .logo img {
        width: 100%;
        max-width: 10rem;
        margin-bottom: 2rem;
        height: auto;
    }    

    .header .navbar a {
        color: var(--text-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        margin-left: 2%;
        border-bottom: 1px solid var(--text-color);
    }

    .header .navbar a:hover {
        color: var(--blue-color);
        border-bottom-color: var(--blue-color); 
    }

    .header #header-btn {
        color: var(--text-color);
        display: block;
        margin: 0.4rem;
        padding: .5rem;
        font-size: 1.8rem;
        background-color: var(--bg-color);
        text-transform: lowercase;
        margin-left: 2%;
        border-bottom: none; 
    }

    .header #header-btn:first-letter {
        text-transform: uppercase;
    }

    .header #header-btn:hover {
        color: var(--blue-color);
    }

    .portfolio .portfolio-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
        gap: 1rem;
        justify-content: center;
        margin-left: 2%;
        margin-right: 2%;
    }
    
    .portfolio .portfolio-container .portfolio-box img{
        width: 20rem; 
        height: 20rem; 
        object-fit: cover;
        margin-bottom: 2rem; 
    }

    .customers-container .logos-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
        gap: 1rem;
        justify-content: center;
        margin-left: 25%;
        margin-right: 25%;
    }

    .customers-container .logos-container .customers-logo {
        border-top: 1px solid var(--shadow-color);
        border-right: none;
    }
    
    .footer-section1 img {
        width: 18rem;
        height: 15rem;
        margin-bottom: 1rem;
    }
    
    .footer-section1 p {
        margin-bottom: 5rem;
        font-size: 1.5rem;
    }

    .footer-section1 i {
        font-size: 3rem;
        color: #B4B4B8;
    }
    
    .footer-section2 {
        display: flex;
        flex-direction: row;
        gap: 2rem;  
    }
    
    #col {
        display: flex;
        justify-content: center;
        font-size: 1.3rem;
        color: var(--white-color);
    }
    
}


