* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #fdfdfd;
    --text-color: #333;
    --main-color: #070F2B;
    --white-color: #fdfdfd;
    --blue-color: #535C91;
    --shadow-color: #EEEDEB;
    --grey-color: #B4B4B8;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

/*header*/

header {
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 15%;
    display: flex;
    align-items: center;
    margin-top: 1rem;
    z-index: 100;
}

.logo {
    margin-right: 2rem;
    display: flex;
    width: 40px;
    height: 40px;
}

.title {
    font-size: 2em;
    color: var(--white-color);
    font-weight: 600;
    cursor: default;
    margin-right: 8rem;
    white-space: nowrap;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 3rem;
}

nav a {
    position: relative;
    font-size: 1.5rem;
    color: var(--white-color);
    font-weight: 300;
    white-space: nowrap;
}

nav a.active::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: .2rem;
    background: var(--white-color);
}

.btn-heading {
    position: relative;
    padding: 6% 10%;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: var(--blue-color);
    color: var(--white-color);
    white-space: nowrap;
    border-radius: 5px;
    margin-left: 4rem;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .btn-heading:hover {
    background-color: var(--white-color);
    color: var(--text-color);
  }
  
section {
    min-height: 100vh;
    padding: 10rem 7% 2rem;
}

/*seccion de inicio*/

.home { 
    background-image: url('./images/home.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.home .home-content {
    max-width: 44rem;
    margin-left: 30rem;
}

.home-content h3 {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: .3;
    color: #B9B4C7;
    white-space: nowrap;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    margin-bottom: .3rem;
    white-space: nowrap;
    color: var(--white-color);
}

.home-content p {
    font-size: 1.6rem;
    color: var(--white-color);
    text-align: left;
}

.btn-home {
    position: relative;
    padding: 3% 6%;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: var(--blue-color);
    color: var(--white-color);
    white-space: nowrap;
    border-radius: 5px;
    margin-top: 8rem;
    transition: background-color 0.3s, color 0.3s;
}

.btn-home:hover {
    background-color: var(--white-color);
    color: var(--text-color);
}

/*seccion de servicios*/

.services-content {
    min-height: auto;
    padding-bottom: 8rem;
    background-color: #F3F8FF;
}

.services-content h2 {
    margin-bottom: 3rem;
    font-size: 3.8rem;
    color: var(--main-color);
    text-align: center;
}

#p1 {
    margin-bottom: 5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    text-align: center;
    margin-left: 45rem;
    margin-right: 45rem;
}

.services-content .services-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-left: 15rem;
    margin-right: 15rem;
}

.services-container .services-box {
    background: var(--bg-color);
    padding: 3.5rem;
    width: 35rem; 
    height: 35rem;
    align-items: center;
    transition: .1s ease;
}

.services-container .services-box:hover {
    transform: scale(1.02);
}

.services-box i {
    display: flex;
    margin-bottom: 2.5rem;
    font-size: 5rem;
    color: var(--blue-color);
}

.services-box h3 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: var(--main-color);
}

.services-box p {
    margin-bottom: 3rem;
    font-size: 1.5rem;
    color: var(--text-color);
}

/*seccion de portafolio*/

.portfolio {
    padding-bottom: 1rem;
    padding-top: 8rem;
}

.portfolio h2 {
    margin-bottom: 3rem;
    font-size: 3.8rem;
    color: var(--main-color);
    text-align: center;
}

.portfolio .portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    overflow: hidden;
    width: 30rem; 
    height: 30rem;
    align-items: center;
    margin-top: 2rem;
}

.portfolio-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.btn-portfolio{
    position: absolute;
    padding: 1% 2%;
    font-size: 16px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: var(--blue-color);
    color: var(--white-color);
    white-space: nowrap;
    border-radius: 5px;
    margin-top: 55rem;
    transition: background-color 0.3s, color 0.3s;
}

/*clientes*/

.portfolio .customers-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 25rem;
}
  
.customers-container h2 {
    font-size: 3.8rem;
    color: var(--main-color);
    text-align: center;
    margin-bottom: 3rem;
}

.customers-container p {
    margin-bottom: 8rem;
    font-size: 1.6rem;
    color: var(--text-color);
    text-align: center;
    margin-left: 45rem;
    margin-right: 45rem;
}

.logos-table {
    border-spacing: 0; 
    border-top: 1px solid var(--shadow-color);
    border-collapse: collapse;
}
  
.customers-logo {
    padding: 3rem; 
    text-align: center;
    border-right: 1px solid var(--shadow-color);
}
  
.customers-logo img {
    height: auto;
    width: 20rem;
}

.customers-logo:last-child {
    border-right: none; 
}

/*equipo*/

.portfolio .team-container {
    text-align: center;
    margin-top: 3rem; 
}

.team-container h2 {
    margin-top: 8rem;
    margin-bottom: 1.5rem; 
    font-size: 3.8rem;
    color: var(--main-color);
}

.team-container p {
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 8rem; 
}

.team-container .team-boxes {
    display: flex;
    justify-content: space-around; 
    gap: 1rem;
    flex-wrap: wrap;
    margin-left: 25rem; 
    margin-right: 25rem;
     
}

.team-container .team-box {
    align-items: center;
    text-align: center; 
}

.team-container .team-box img {
    width: 30rem; 
    height: 30rem; 
    object-fit: cover;
    margin-bottom: 2rem; 
}

.team-container .team-box h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem; 
    color: var(--main-color);
}

.team-description {
    font-size: 1.6rem;
    color: var(--text-color);
}
/*mas información*/
.info-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg-color);
    padding: 3.5rem;
    margin-right: 40rem;
    margin-left: 40rem;
    border: none; 
    margin-top: 3rem;
    margin-bottom: 5rem;
    border-radius: 5px;
    box-shadow: 0 0 30px var(--shadow-color);
  }
  
  .text-content {
    flex: 1; 
    margin-right: 2rem;
  }

  .info-container h2 {
    font-size: 2.8rem;
    margin-bottom: 2rem;
    color: var(--blue-color);
    text-align: left; 
  }

  .info-container p {
    margin-bottom: 3rem;
    font-size: 1.6rem;
    color: var(--text-color);

  }
  
  .btn-info {
    padding: 3rem 5rem;
    font-size: 16px;
    margin-right: 3rem;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: var(--blue-color);
    color: var(--white-color);
    border-radius: 5px;
    transition: background-color 0.3s ease
  }

  .btn-info:hover {
    background-color: #637A9F;
    color: var(--white-color);
  }

/*footer*/
footer {
    align-items: center;
    justify-content:space-around;
    background-color: var(--blue-color);
    color: var(--white-color);
    padding: 3rem;
    padding-top: 8rem;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 2rem;
    margin-right: 20rem;
}

.footer-section1,
.footer-section2 {
    width: 100%; 
    max-width: 45rem; 
    text-align: left;
}


.logo-social {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.footer-section1 img {
    width: 10rem;
    height: 10rem;
    margin-bottom: 3rem;
}

.footer-section1 p {
    margin-bottom: 5rem;
    font-size: 1.5rem;
}

.social-icons {
    display: flex;
    gap: 2rem;
}

.footer-section1 i {
    font-size: 2rem;
    color: #B4B4B8;
}

.footer-section2 {
    display: flex;
    flex-direction: row;
    gap: 6rem;  
}

.footer-information {
    text-align: left;
}   

.footer-information h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

.footer-information ul {
    list-style: none;
    padding: 0;
}

.footer-information a {
    text-decoration: none;
    color: var(--white-color);
    margin-bottom: 1rem;
    font-size: 1.5rem;
    display: block;
    white-space: nowrap;
}

.footer-divider {
    width: 60%;
    border-top: 1px solid #B4B4B8;
    margin-top: 5rem;
    padding-top: 3rem;
    margin-left: 35rem;
    margin-right: 25rem;
}

#p2 {
    font-size: 1.5rem;
    color: var(--white-color);
    text-align: left;
    margin-left: 36rem;
}

.footer-bottom {
    width: 100%;
}

/*about*/
.about {
    position: relative;
    background: #F3F8FF;

}

.about::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 32%; 
    background: url('/images/about.jpg') center/cover no-repeat; 
}

.about-titles {
    margin-top: 3rem;
    text-align: center;
    padding: 50px 0; 
    position: relative;
    z-index: 1;
}

.about-titles h1 {
    font-size: 5rem;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--white-color);
}

.about-titles h3 {
    font-size: 2.3rem;
    font-weight: 700;
    line-height: .3;
    color: var(--white-color);
    margin-bottom: 3rem;
}

.about-titles p {
    font-size: 1.6rem;
    color: var(--white-color);
    text-align: center;
    margin-bottom: 6rem;
}

.about-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    position: relative;
    margin-left: 25rem;
    margin-right: 25rem;
    margin-bottom: 10rem;
    z-index: 1; 
}

.about-content {
    background: var(--bg-color);
    padding: 3rem;
    width: 35rem; 
    height: 32rem;
    margin-top: -3rem;
    align-items: center;
    box-shadow: 0 15px 15px -7px var(--grey-color);
    transition: .1s ease;
}

.line {
    border: none; 
    border-top: 6px solid var(--blue-color);
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 20%;
}

.about-content h2 {
    font-size: 2.8rem;
    margin-bottom: 2rem; 
    color: var(--main-color);
}

.about-content p {
    font-size: 1.6rem;
    margin-bottom: 2rem; 
    color: var(--text-color);
}

.about-content ul {
    list-style-type: none;
    font-size: 1.6rem;
    margin-bottom: 2rem; 
    color: var(--text-color);
}

/*proceso de trabajo*/
.work-process-content {
    text-align: center;
    margin-top: 10rem;
    background-color: #F3F8FF;
    margin-bottom: 8rem;
}

.work-process-content h1 {
    margin-bottom: 2rem; 
    font-size: 3.8rem;
    color: var(--main-color);
}

.work-process-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 25rem;
    margin-right: 25rem;
}

.work-process-box {
    width: 35rem;
    height: 35rem;
    padding: 2rem;
    border: none;
    box-sizing: border-box;
    text-align: left;

}

.work-process-box h1 {
    font-size: 10rem; 
    color: #DDE6ED;
    margin: 0;
    margin-right: 1rem;
    padding: 0;
}

.work-process-box h3 {
    font-size: 2rem;
    margin-bottom: 1.8rem;
}

.work-process-box p {
    font-size: 1.6rem;
    color: var(--text-color);
    margin: 0;
}

/*¿Porqué escogernos?*/

.last-section {
    text-align: center;
    background-color: var(--bg-color);
    margin: 0;
    padding: 0;
}

.two-column-section {
    display: flex;
    box-sizing: border-box;
    width: 100%;
    margin-bottom: 10rem;
}

.left-column {
    width: 50%;
    float: left;
}

.left-column img {
    width: 95rem;
    height: auto;
    float: left;
}

.right-column {
    width: 50%;
    float: right;
}

.content-right {
    margin-top: 5rem;
    margin-right: 5rem;
    margin-left: 5rem;
    text-align: left;
}

.content-right h1 {
    margin-bottom: 2rem; 
    font-size: 3rem;
    color: var(--main-color);
} 

.content-right p {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-bottom: 3rem;
}

/*accordion*/
.accordion {
    background-color: #F3F8FF;
    color: var(--text-color);
    cursor: pointer;
    padding: 2rem;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    font-size: 1.5rem;
  }

.accordion.active, .accordion:hover {
    background-color: var(--bg-color);
}

.active:after {
    content: "\2796"; 
}

  .panel {
    padding: 0 2rem;
    background-color: #F3F8FF;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
  }

  .accordion:after {
    content: '\02795'; 
    font-size: 1.5rem;
    color: var(--text-color);
    float: right;
    margin-left: 3rem;
  }
  
  .active:after {
    content: "\2796"; 
  }

/*cifras*/
.contador-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10rem;
    margin-left: 35rem;
    margin-right: 35rem;
}

.content {
    text-align: left;
}

.h2-content {
    margin-bottom: 1rem; 
    font-size: 2.3rem;
    color: var(--main-color);
    margin-left: 3rem;
}

.p-content {
    margin-bottom: 1rem; 
    font-size: 1.6rem;
    color: var(--main-color);
    margin-left: 3rem;
}

.number {
    margin: 0;
    font-size: 3rem;
    color: var(--blue-color);
}

.content h3 {
    margin-bottom: 1rem; 
    font-size: 1.6rem;
    color: var(--main-color);
    margin-left: 3rem;
}

/*products*/
.products {
    position: relative;
    background: var(--bg-color);

}

.products::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 8%; 
    background: var(--main-color); 
    
}

.products-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10rem;
}

.products-box {
    width: calc(33.33% - 20px);
    margin-bottom: 2rem;
    box-sizing: border-box;
    border: 1px solid var(--grey-color);
    padding: 1rem;
    text-align: center;
}

.products-box img {
    width: 15rem;
    max-width: 100%;
    height: auto;
}

.products-box h2 {
    font-size: 2.8rem;
    color: var(--main-color);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.products-box p {
    font-size: 1.6rem;
    color: var(--text-color);
    margin-bottom: 1rem;
}
